# Local .terraform directories
.terraform/
.terraform.lock.hcl

# Crash logs
crash.log

# Exclude override files as they are not meant to be version-controlled
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore plan output files
*.tfplan

# Ignore terraform state files
*.tfstate
*.tfstate.backup

# Sensitive variable files
*.tfvars
*.tfvars.json

# Local-only environment files
.env
.env.*

# IDE and OS specific files (optional but recommended)
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
